* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, 
       #01A668 32%, #ffffff 30% 68%, #01A668 60%), rgba(#01A668, white, #01A668, 0.5);
    /* text-align: center; */
}

.App.container {
    /* width: 90vw; */
    height: 70vh;
    margin: 15vh auto;
    /* border: 1px solid red; */
}

header {
    text-align: center;
}

h1 {
    font-size: 20px;
}

header p {
    font-style: italic;
    margin: 20px auto;
}

main {
    /* border: 1px solid #046841; */
    border-radius: 5px;
}

.grid-row {
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap; /*IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    /* border: 1px solid red; */
}

.imgWrapper {
    /* border: 1px solid blue; */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

img {
    max-width: 100%;
    /* margin-top: 8px; */
    vertical-align: middle;
    width: 100%;
    /* width: 25%; */
    height: auto;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.tooltipWrapper {
    position: relative;
    /* display: inline-block; */
}

.tooltipName {
    display: none;
    width: 100px;
    height: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipWrapper:hover .tooltipName {
    display: inline-block;
    cursor: pointer;
}

.details {
    color: #01A668;
}